{% extends "base.html" %}

{% block title %}Add Post{% endblock %}

{% block content %}
    <h1>Add Post for {{ user.get_full_name() }}</h1>
    <form method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
        </div>
        <div class="text-right">
            <a href="{{ url_for('show_user', user_id=user.id) }}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
{% endblock %}
